<title> Recipes </title>
<h1>Recipes:</h1>

<!-- Search bar for recipes -->

<form action="/recipes" method="get">
  <label for="search">Search:</label>
  <input type="text" id="search" name="search" value="<%= params[:search] %>"/>
  <input type="submit"/>
</form>

<!-- Looping through each recipe name -->

<ol>
  <% @recipes.each do |recipe| %>
    <li>
    <a href = "recipes/<%= recipe["id"] %>"><%= recipe["name"] %></a>
    </li>
  <% end %>
</ol>
